
* {
    box-sizing: border-box;
}

article, header, footer {
    margin: auto;
    max-width: 600px;
    width: 80%;
}

footer {
    text-align: center;
}

#playerNames, #infoBox, #winBox, .cell {
    border-radius: 5px;
    border: solid 1px black;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.3);
}

#playerNames, #infoBox, #winBox {
    margin: 10px;
    padding: 5px;
}

#infoBox {
    color: green;
    font-weight: bold;
}

#winBox {
    color: rgb(145, 0, 145);
}